<ion-view title="Cart" id="page3">
  <ion-content padding="true" class="has-header">
    <h2 id="cart-heading1" style="color:#444444;">My Shopping Cart</h2>
    <ion-list id="cart-list2">
      <ion-item class="item-thumbnail-left" id="cart-list-item5">
        <h2>Item 1</h2>
      </ion-item>
      <ion-item id="cart-list-item6">Item 2</ion-item>
      <ion-item id="cart-list-item7">Item 3</ion-item>
    </ion-list>
    <h3 id="cart-heading2" style="color:#C29A17;">Total: ${{price}}</h3>
    <button id="cart-button1" class="button button-positive  button-block">Place Order</button>
    <button id="cart-button2" class="button button-assertive  button-block">Logout</button>
  </ion-content>
</ion-view>